<!DOCTYPE html>
<html lang="es" class="sizeTables_list_view" layout="admin">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Tabla de talles' %> 
        
        <%- include('../../partials/head') %>
    </head>
<body>
    <%- include('../../partials/header.ejs')  %> 

    <% 
        const exists = locals._exists;
        let {
            id,
            tableName,
            sizes
        } = exists(locals.sizeTable) ? sizeTable.dataValues : {};
    %> 
    

    <main>
        <section class="content_header">

            <h1>
                <%= 
                    exists(id)
                        ? `Tabla de talles: ${tableName}`
                        : 'Tabla de talles'
                 %> 
            </h1>

            <div class="content_header_navigation">
                <% if (exists(locals.sizeTable)) { %>
                    <a href="/admin/c/tabla-de-talles/<%= id %>/delete?_method=DELETE" id="sizeTable_create_form_delete_btn" class="button_main_action error">
                        Borrar tabla de talles
                    </a>
                <% } %>
                <a href="/admin/c/tabla-de-talles/" class="button_main_action">
                    Volver
                </a>
            </div>
            

        </section>

        <section class="content_form">
            <div class="categories_list">
                <h4>Listado de tablas de talles</h4>
                <ul>
                    <%- sizeTablesHTML %>
                </ul>
            </div>

            <div class="categories_form">
                <form id="sizeTable_create_form" method="POST" enctype="multipart/form-data">
                    <% if (exists(id)) { %>
                        <input type="hidden" name="id" value="<%= id %>">
                    <% } %>

                    <div class="form_header">
                        <h4>Información de la tabla</h4>
                        <ul>
                            <li>
                                <a class="form_tab_btn active" onclick="changeTab(this, 'tab_data')">Datos</a>
                            </li>
                            <li class="dnone">
                                <a class="form_tab_btn" onclick="changeTab(this, 'tab_imagenes')">Imagen</a>
                            </li>
                        </ul>
                    </div>

                    <div class="form_tab" id="tab_data">
                        <div class="form_data">

                            <%- include('../../../components/forms/form_input/index', {
                                is_required: true,
                                label: 'Nombre',
                                type: 'text',
                                name: 'tableName',
                                placeholder: 'Ingrese el nombre de la tabla',
                                default_value: exists(tableName) ? tableName : false,
                            }) %> 

                            <%- include('../../../components/forms/form_input/index', {
                                is_required: true,
                                label: 'Nombre',
                                type: 'text',
                                name: 'sizes',
                                placeholder: 'Ingrese los talles separados por comas',
                                default_value: exists(sizes) ? sizes : false,
                            }) %> 

                        </div>
                    </div>

                    
                    <% if (exists(locals.sizeTable)) { %>
                        <button type="submit" id="sizeTable_create_form_update_btn" class="button_main_action">Actualizar marca</button>
                    <% } else { %>
                        <button type="submit" id="sizeTable_create_form_create_btn" class="button_main_action">Guardar marca</button>
                    <% } %>

                </form>
            </div>

        </section>
    </main>
    
    
    <%- include('../../partials/footer.ejs')  %> 
</body>
</html>