<article id="<%= banner.bannerID %> " class="category">
    <a href="<%= banner.bannerLink %>">
        <div class="category_img">
            <img
                src="<%= banner.bannerImg %>"
                alt="<%= banner.bannerTitle %>"
                title="<%= banner.bannerTitle %>"
            />
            <h4><%= banner.bannerTitle %> </h4>
        </div>
    </a>
</article>