<% 
    const exists = locals._exists;
%> 

<header class="header">
    <button id="menu_mobile--btn">
        <%- include('./headerIcons/icon-menu.ejs')  %> 
        <div class="mbtn-close">
            <span></span>
            <span></span>
        </div>
        <small></small>
    </button>

    <div class="logo_container">
        <a href="/">
            <%- include('./misc/logo/index') %> 
        </a>
    </div>

    <nav id="menu">
        <ul>
            <%- exists(locals.formatedCategories) ? formatedCategories : '' %> 
        </ul>
    </nav>

    <div id="menu_links">
        <ul>
            <li>
                <a href="#search" id="links__search">
                    <%- include('./headerIcons/icon-search.ejs')  %> 
                    <small>Buscar</small>
                </a>
            </li>
            <li>
                <a href="/clientes/login" id="links__my_account">
                    <%- include('./headerIcons/icon-user.ejs')  %> 
                    <small>Mi cuenta</small>
                </a>
            </li>
            <li>
                <a href="/checkout/carrito" id="links__cart">
                    <%- include('./headerIcons/icon-bag.ejs')  %> 
                    <span id="cart-count">
                        <%- exists(locals.customerCartNavCounter) && customerCartNavCounter != 0 
                            ? customerCartNavCounter 
                            : '' 
                        %> 
                    </span>
                    <small>
                        Bolsa
                    </small>
                </a>
            </li>
        </ul>
    </div>

    <%- include('./menu-mobile.ejs') %> 

</header>
