<!DOCTYPE html>
<html lang="es" class="home_view">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Tienda Home' %> 
        
        <%- include('../partials/head') %>

        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>

    <body>
        <%- include('../components/banners/banner_top/index') %>
        <%- include('../partials/header') %>

        <!--  -->
        <%- include('../components/sliders/slider_full/index', { 
                sliderID: 'slider_home',
                sliderHome_banners: [
                    {
                        slideID: 1,
                        slideLink: '#linkcito1',
                        slideImgURL: '/images/sliders/slider_home/img1--desktop.jpg',
                        slideImgURL_mobile: '/images/sliders/slider_home/img1--mobile.jpg',
                    },
                    {
                        slideID: 2,
                        slideTitle: 'Este titulo es el 2',
                        slideContent: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae, beatae sequi molestias est animi deleniti architecto quo voluptatibus assumenda error ipsam labore dolorum, porro reiciendis amet corporis! Velit, quis.',
                        slideCtaText: 'Ir ahora',
                        slideLink: '#linkcito2',
                        slideImgURL: '/images/sliders/slider_home/img3--desktop.png',
                        slideImgURL_mobile: '/images/sliders/slider_home/img3--mobile.png',
                    },
                    {
                        slideID: 3,
                        slideLink: '#linkcito3',
                        slideImgURL: '/images/sliders/slider_home/img2--desktop.jpg',
                        slideImgURL_mobile: '/images/sliders/slider_home/img2--mobile.jpg',
                    },
                ]
            }) 
        %>

        <main>
            <%- include('../components/banners/banner_promocional_wide/index', 
                    {
                        bannerID: 'banner_promocional_1',
                        bannerImg: '/images/banners/home_banner_promocional_1/tituloblack_1920x200FINAL4.jpg',
                        bannerAlt: 'Nombre del banner',
                        bannerLink: '#bannerpromocional1',
                    }
                )
            %> 

            <section class="category_group">
                <div class="category_wrapper">
                    <article class="category category_large">
                        <a href="#categoria_1">
                            <div class="category_img">
                                <img
                                    src="/images/home/01.svg"
                                    alt="categoria 1"
                                    title="categoria 1"
                                />
                                <h4>CATEGORIA 1</h4>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="category_wrapper">
                    <article class="category category_double">
                        <div>
                            <h4>Banner Texto</h4>
                        </div>
                    </article>
                    <article class="category category_small">
                        <a href="#categoria_2">
                            <div class="category_img">
                                <img
                                    src="/images/home/02.svg"
                                    alt="categoria_2"
                                    title="categoria_2"
                                />
                                <h4>CATEGORIA 2</h4>
                            </div>
                        </a>
                    </article>
                    <article class="category category_small">
                        <a href="#categoria_3">
                            <div class="category_img">
                                <img
                                    src="/images//home/03.svg"
                                    alt="categoria_3"
                                    title="categoria_3"
                                />
                                <h4>CATEGORIA 3</h4>
                            </div>
                        </a>
                    </article>
                </div>
            </section>

            <%- include('../components/banners/banner_promocional_wide/index', 
                    {
                        bannerID: 'banner_promocional_2',
                        bannerImg: '/images/banners/home_banner_promocional_2/titulo1_1920x200_3.jpg',
                        bannerAlt: 'Nombre del banner 2',
                        bannerLink: '#bannerpromocional2',
                    }
                )
            %> 

            <section class="product_group">
                <div class="product_wrapper">
                    <article class="home_product product_small">
                        <a href="#product">
                            <div class="product">
                                <img
                                    src="/images/catalog/category/img_producto-chico.png"
                                    alt="producto_1"
                                    title="producto_1"
                                />
                                <div class="product_info">
                                    <p class="product_name">Producto 1</p>
                                    <h4 class="price">$2.900</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="home_product product_small">
                        <a href="#product">
                            <div class="product">
                                <img
                                    src="/images/catalog/category/img_producto-chico.png"
                                    alt="producto_2"
                                    title="producto_2"
                                />
                                <div class="product_info">
                                    <p class="product_name">Producto 2</p>
                                    <h4 class="price">$4.690</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="product_wrapper">
                    <article class="home_product product_large">
                        <a href="#product">
                            <div class="product">
                                <img
                                    src="/images/catalog/category/img_producto-5.png"
                                    alt="producto_5"
                                    title="producto_5"
                                />
                                <div class="product_info">
                                    <p class="product_name">Producto 5</p>
                                    <h4 class="price">$10.200</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>

                <div class="product_wrapper">
                    <article class="home_product product_small">
                        <a href="#product">
                            <div class="product">
                                <img
                                    src="/images/catalog/category/img_producto-chico.png"
                                    alt="producto_3"
                                    title="producto_3"
                                />
                                <div class="product_info">
                                    <p class="product_name">Producto 3</p>
                                    <h4 class="price">$1.060</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="home_product product_small">
                        <a href="#product">
                            <div class="product">
                                <img
                                    src="/images/catalog/category/img_producto-chico.png"
                                    alt="producto_4"
                                    title="producto_4"
                                />
                                <div class="product_info">
                                    <p class="product_name">Producto 4</p>
                                    <h4 class="price">$2.900</h4>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
        </main>

        <%- include('../partials/footer') %>    
    </body>
</html>
