<!DOCTYPE html>
<html lang="es" class="catalog_category_view">
    <head>
        <% 
            pageTitle = category.page_title !== undefined ? category.page_title : 'Categoría';
        %> 
        <%- include('../partials/head') %>

        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>

    <body>
        <%- include('../partials/header') %>

        <% if (category.imagenes.length > 0) { %>
            <div id="banner_categoria_id" class="banner_top_categoria">
                <%- include('../components/sliders/slider_full/index', {
                    sliderID: 'slider_home',
                    sliderHome_banners: [ 
                        { 
                            slideID: 1, 
                            slideImgURL: `/images/catalog/products/${category.imagenes[0]}`, 
                        }, 
                    ]
                    })
                %>
            </div>
        <% } %>

        <%- include('../components/toolbar/index')  %> 

        <main>
            <div id="filters" class="">
                <h4>FILTROS</h4>

                <button id="filters-close">X</button>

                <ul>
                    <li id="atributo_ordenar" class="filter">
                        <p>Ordenar <span>+</span></p>
                        <div class="filter_submenu">
                            <ol>
                                <li></li>
                            </ol>
                        </div>
                    </li>

                    <li id="atributo_tipo_de_producto" class="filter">
                        <p>Tipo de producto <span>-</span></p>
                        <div class="filter_submenu">
                            <ol>
                                <li>Subcat 1</li>
                                <li>Subcat 2</li>
                                <li>Subcat 3</li>
                            </ol>
                        </div>
                    </li>

                    <li id="atributo_colores" class="filter">
                        <p>Colores <span>-</span></p>
                        <div id="" class="filter_submenu">
                            <ol>
                                <li class="filter_colors">
                                    <span id="atributo_colores-blanco"></span>
                                    Blanco
                                </li>
                                <li class="filter_colors active">
                                    <span id="atributo_colores-blanco"></span>
                                    Negro
                                </li>
                                <li class="filter_colors">
                                    <span id="atributo_colores-blanco"></span>
                                    Azul
                                </li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="catalog_gallery" class="col-4">

                <% if (products.length > 0) { %>
                    <% for( let i = 0; i < products.length; i++ ) { %>
                        <%- include('../components/product_card/index', 
                                {
                                    product: {
                                        id: products[i].id,
                                        sku: products[i].sku_visible,
                                        name: products[i].product_name,
                                        price: products[i].product_price,
                                        discount: products[i].product_price_special > 0 ? `$${products[i].product_price_special}` : '',
                                        colors: [products[i].color],
                                        sizes: products[i].stock_talles,
                                        images: products[i].imagenes,
                                        'product_details': products[i].descripcion_corta
                                        
                                    }

                                }
                            ) 
                        %>
                    
                    <% } %>

                <% } else { %>
                    <h1>No hay producto en la categoría</h1>
                <% } %>
            
            </div>
        </main>

        <%- include('../partials/footer') %>

        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </body>
</html>
