<!DOCTYPE html>
<html lang="es" class="recover_account_view">
    <head>
        <% pageTitle = locals.title !== undefined ? title : 'Registrarse' %> 
        
        <%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/header') %>

        <main>
            <section>
                <h2>Recuperar cuenta</h2>
                <form action="/" method="POST">
                    <%- include('../components/forms/form_input/index', {
                        is_required: true,
                        label: 'Correo electr칩nico',
                        type: 'email',
                        name: 'email',
                        placeholder: 'Ingrese su correo electr칩nico',
                    }) %> 

                    <button type="submit" id="login_button" class="button_main_action">Recuperar cuenta</button>

                </form>

                <%- include('../components/login_links/index', {
                    options: [
                        {
                            text: 'Iniciar sesi칩n',
                            url: '/clientes/login'
                        },
                        {
                            text: 'Recuperar contrase침a',
                            url: '/clientes/recover'
                        },
                    ]
                }) %> 

            </section>
            
        </main>

        <%- include('../partials/footer.ejs')  %> 
    </body>
</html>
