<!DOCTYPE html>
<html lang="es" class="products_create_view" layout="admin">
<head>
    <% pageTitle = locals.title !== undefined ? title : 'Crear producto' %> 
    
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header.ejs')  %> 

    <main>

        <section class="content_header">

            <h1>Crear producto</h1>

            <a href="/admin/c/productos" class="button_main_action">
                Volver
            </a>

        </section>

        <section class="content_form">
            
            <form id="product_create_form" action="POST">

                <div class="form_header">
                    <h4>Información del producto</h4>
                    <ul>
                        <li>
                            <a class="form_tab_btn active" onclick="changeTab(this, 'tab_data')">Datos producto</a>
                        </li>
                        <li>
                            <a class="form_tab_btn" onclick="changeTab(this, 'tab_attributes')">Colores, talles y stock</a>
                        </li>
                        <li>
                            <a class="form_tab_btn" onclick="changeTab(this, 'tab_imagenes')">Imagenes</a>
                        </li>
                        <li>
                            <a class="form_tab_btn" onclick="changeTab(this, 'tab_categories')">Categorias</a>
                        </li>
                        <li>
                            <a class="form_tab_btn" disabled onclick="changeTab(this, 'tab_related_products')">Productos relacionados</a>
                        </li>
                    </ul>
                </div>

                <!-- Datos producto -->
                <div class="form_tab" id="tab_data">
                    <div class="form_data">

                        <!-- 
                            Estado

                            Nombre
                            Sku visible (timestamp + nombre)
                            
                            Descripcion corta
                            Composicion
                            Cuidado

                            Imagenes

                            Precio
                            Precio especial
                            Precio especial desde fecha
                            Precio especial hasta fecha

                            Marca
                            Tipo de producto
                            Tabla de talles
                        -->
                    
                        <%- include('../../components/forms/form_select/index', {
                            is_required: true,
                            label: 'Estado',
                            name: 'is_active',
                            options: [
                                'Habilitado',
                                'Deshabilitado',
                                'Esto es un test'
                            ]
                        }) %> 

                        <%- include('../../components/forms/form_select/index', {
                            is_required: true,
                            label: 'Tipo de producto',
                            name: 'tipo_de_producto',
                            options: [
                                'Abrigos',
                                'Remeras',
                                'Pantaloes',
                                'Zapatos'
                            ],
                            event: ['onchange', `handleSkuVisible(this,'sku_visible')`]
                        }) %> 

                        <%- include('../../components/forms/form_select/index', {
                            is_required: true,
                            label: 'Tabla de talles',
                            name: 'tabla_de_talles',
                            options: [
                                'Tabla talles XXS al XXL',
                                'Tabla talles 36 al 48',
                                'Tabla talles calzado 35 al 45'
                            ],
                            event: ['onchange', `handleTablaTalles(this, 'tab_attributes')`]
                        }) %> 

                        <%- include('../../components/forms/form_select/index', {
                            is_required: true,
                            label: 'Marca',
                            name: 'marca',
                            options: [
                                'Alaska',
                                'Felix',
                                'Zara'
                            ],
                            event: ['onchange', `handleSkuVisible(this,'sku_visible')`]
                        }) %> 
            
                        <%- include('../../components/forms/form_input/index', {
                            is_required: true,
                            label: 'Nombre',
                            type: 'text',
                            name: 'product_name',
                            placeholder: 'Ingrese el nombre del producto',
                            event: ['onkeyup', `handleSkuVisible(this,'sku_visible')`]
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: true,
                            label: 'SKU visible',
                            type: 'text',
                            name: 'sku_visible',
                            placeholder: 'El sku se generará automaticamente con la marca, el tipo de producto y el nombre'
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: true,
                            label: 'Precio',
                            type: 'number',
                            name: 'product_price',
                            placeholder: 'Ingrese el precio sin $'
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Precio especial',
                            type: 'number',
                            name: 'product_price_special',
                            placeholder: 'Ingrese el precio sin $'
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Precio especial desde fecha',
                            type: 'text',
                            name: 'product_price_special_desde',
                            placeholder: 'Ejemplo 2021-01-02 00:00:00'
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Precio especial hasta fecha',
                            type: 'text',
                            name: 'product_price_special_hasta',
                            placeholder: 'Ejemplo 2021-01-20 23:59:59'
                        }) %> 

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Descripcion corta',
                            type: 'text',
                            name: 'descripcion_corta',
                            placeholder: ''
                        }) %>

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Composicion',
                            type: 'text',
                            name: 'composicion',
                            placeholder: ''
                        }) %>

                        <%- include('../../components/forms/form_input/index', {
                            is_required: false,
                            label: 'Cuidado',
                            type: 'text',
                            name: 'cuidado',
                            placeholder: ''
                        }) %>

                    </div>

                </div>

                <!-- Colores, talles y stock -->
                <div class="form_tab dnone" id="tab_attributes">

                    <!-- 
                        Tendria que crear en la db una tabla con todos los colores y traerlos en un select aca,
                        luego al seleccionar un option genera el html con la tabla y los datos de la tabla de talles elegida anteriormente
                        - en caso de que no haya seleccionado el tipo de tabla mostrar un texto que diga que la seleccione

                        Esta tabla de talles generada se tendria que vincular al color elegido y habria que crear una tabla nueva
                        con el id del color elegido, y los talles junto con el stock

                        Tambien esta tabla se tiene que guardar en el producto
                    -->
                    <div class="form_data">
                        <%- include('../../components/forms/form_select/index', {
                            is_required: false,
                            label: 'Agregar Color',
                            name: 'agregar_color',
                            options: [
                                'Blanco',
                                'Negro',
                                'Rojo'
                            ]
                        }) %> 

                        <h4>
                            Tenes que seleccionar un tipo de tabla en la pestaña Datos de producto
                        </h4>

                    </div>
                    
                </div>

                <!-- Imagenes -->
                <div class="form_tab dnone" id="tab_imagenes">
                    <div class="form_data">
                    
                        <div class="form_row">
                            <label for="files">Cargar imagenes</label>
                            <input type="file" id="files" name="files" multiple><br><br>
                        </div>

                    </div>
                    <div class="form_images">
                        <!--
                            Cuando cargo las imagenes desde el form
                            las guardo en un array con keys
                            id
                            name
                            url
    
                            cuando queiera borrrarlas elimino el id del array
                         -->
                        <div id="form_images_card_id_1" class="form_images_card">
                            <img src="https://via.placeholder.com/100x150/f1c40f/333" alt="image_name" class="form_images_card_image">
                            <span class="form_images_card_name">LANDING-CAMPA_A-SS21-02.jpg</span>
                            <button class="form_images_card_delete button_main_action">Borrar</button>
                        </div>
                        
                    </div>
                </div>

                <!-- Categoria -->
                <div class="form_tab dnone" id="tab_categories">
                    <div class="form_data">
                        <h4>Categorias del producto</h4>

                        <% 
                            let categories = [
                                
                                {
                                    id: 1,
                                    name: 'Eshop',
                                    subcategories: [
                                        {
                                            id: 2,
                                            name: 'coleccionss21',
                                            subcategories: [
                                                {
                                                    id: 3,
                                                    name: 'remeras',
                                                },
                                                {
                                                    id: 4,
                                                    name: 'camisas',
                                                },
                                                {
                                                    id: 5,
                                                    name: 'sweaters',
                                                },
                                                {
                                                    id: 6,
                                                    name: 'pantalones',
                                                },
                                                {
                                                    id: 7,
                                                    name: 'vestidos',
                                                },
                                            ],
                                        },
                                        {
                                            id: 8,
                                            name: 'denim',
                                            subcategories: [
                                                {
                                                    id: 9,
                                                    name: 'jeans',
                                                },
                                                {
                                                    id: 10,
                                                    name: 'vestidos',
                                                },
                                                {
                                                    id: 11,
                                                    name: 'camperas',
                                                },
                                                {
                                                    id: 12,
                                                    name: 'camisas',
                                                },
                                            ],
                                        },
                                        {
                                            id: 13,
                                            name: 'accesorios',
                                            subcategories: [
                                                {
                                                    id: 14,
                                                    name: 'calzado',
                                                    subcategories: [
                                                        {
                                                            id: 9,
                                                            name: 'zapatillas',
                                                        },
                                                        {
                                                            id: 10,
                                                            name: 'botas',
                                                        },
                                                        {
                                                            id: 11,
                                                            name: 'zapatos',
                                                        },
                                                    ],
                                                },
                                                {
                                                    id: 15,
                                                    name: 'carteras',
                                                },
                                                {
                                                    id: 16,
                                                    name: 'cinturones',
                                                },
                                            ]
                                        },
                                        {
                                            id: 17,
                                            name: 'playa',
                                        }
                                    ]

                                },
                                {
                                    id: 18,
                                    name: 'hotsale',
                                    subcategories: [
                                        {
                                            id: 19,
                                            name: 'remeras',
                                        },
                                        {
                                            id: 20,
                                            name: 'camisas',
                                        },
                                        {
                                            id: 21,
                                            name: 'vestiods',
                                        },
                                        {
                                            id: 22,
                                            name: 'denim',
                                        },
                                        {
                                            id: 23,
                                            name: 'pantalones',
                                        },  
                                    ]
                                },

                                {
                                    id: 24,
                                    name: 'blackfriday',
                                },
                                {
                                    id: 25,
                                    name: 'cybermonday',
                                }
                                
                            ]
                        %> 

                        <ul>
                        <% for( let i = 0; i < categories.length; i++ ) { %>
                            <li>
                                <input 
                                    type  = "checkbox" 
                                    name  = "<%=  categories[i].name + categories[i].id %>" 
                                    id    = "<%=  categories[i].name + categories[i].id %>" 
                                    value = "<%= categories[i].id %>"
                                >
                                <label for="<%=  categories[i].name + categories[i].id %>" >
                                    <%=  categories[i].name %> <i>(<%= categories[i].id %> )</i> 
                                </label>

                                <!-- Checkeo si tiene subcategorias -->
                                <% 
                                    if (categories[i].subcategories) { 
                                        let subcats = categories[i].subcategories; 
                                %>
                                        <ul style="margin-left: 1.5rem;">
                                            <% for( let i = 0; i < subcats.length; i++ ) { %>
                                                <li>
                                                    <input 
                                                        type  = "checkbox" 
                                                        name  = "<%=  subcats[i].name + subcats[i].id %>" 
                                                        id    = "<%=  subcats[i].name + subcats[i].id %>"
                                                        value = "<%= subcats[i].id %>"
                                                    >
                                                    <label for="<%=  subcats[i].name + subcats[i].id %>">
                                                        <%=  subcats[i].name %> <i>(<%= subcats[i].id %> )</i> 
                                                    </label>

                                                    <!-- Checkeo si tiene sub subcategorias -->
                                                    <% 
                                                        if (subcats[i].subcategories) { 
                                                            let subsubcats = subcats[i].subcategories; 
                                                    %>
                                                            <ul style="margin-left: 1.5rem;">
                                                                <% for( let i = 0; i < subsubcats.length; i++ ) { %>
                                                                    <li>
                                                                        <input 
                                                                            type  = "checkbox" 
                                                                            name  = "<%=  subsubcats[i].name + subsubcats[i].id %>" 
                                                                            id    = "<%=  subsubcats[i].name + subsubcats[i].id %>"
                                                                            value = "<%= subsubcats[i].id %>"
                                                                        >
                                                                        <label for="<%=  subsubcats[i].name + subsubcats[i].id %>">
                                                                            <%=  subsubcats[i].name %> <i>(<%= subsubcats[i].id %> )</i> 
                                                                        </label>

                                                                    </li>

                                                                <% } %>
                                                            </ul>
                                                    <% } %>

                                                </li>

                                            <% } %>
                                        </ul>
                                <% } %>

                            </li>
                            
                        <% } %>
                        </ul>

                    </div>
                </div>

                <!-- Producto relacionados -->
                <div class="form_tab dnone" id="tab_related_products"><h1>tab_related_products</h1></div>
                
                <button type="submit" id="product_create_form_submit_btn" class="button_main_action">Guardar producto</button>
    
            </form>

        </section>

        <!-- 
            -   product_id
            -   name
            -   price
            -   discount
            -   colors
            -   sizes
            -   images
            -   is_active


        -->

        
    </main>

    <%- include('../partials/footer.ejs')  %> 
</body>
</html>